
.box{
    margin: 100px;
   
}
.button{
    margin: 50px;
    margin-top: 0px;
}
.level{
    margin-top: 35px;
}
.content{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5px;
  
}

#favorite {
   visibility:hidden;
   background-color:rgb(226, 220, 220);
}

