
.field{
    margin-bottom: 0px;
}
.box{
    margin: 100px;
}

.welcome{
    margin-bottom: 60px;
    /* margin: 50px;
    margin-top: 60px; */
}


/* .footer{
    position: sticky;
    top: 100%;
} */

#favorite {
   visibility:hidden
}

#howFavoriteList {
    visibility:visible
}

